.projects-content {
  background-color: var(--bg-colorfour);
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 400%;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
  transition: all 0.5s;
}
.projects-title {
  position: absolute;
  opacity: 0;
  top: 50px;
  right: 0;
  width: 120px;
  height: 50px;
  transition: all 0.5s;
}.projects-title.trans {
  opacity: 1;
  right: 20px;
}
.projects-title p {
  font-size: 2rem;
  color: var(--text-colortwo);
  transition: all 0.5s;
}
.underline,
.underlinetwo {
  height: 5px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 1px;
  transition: all 0.5s;
}

.double-underline {
  display: inline-block;
  position: relative;
  height: 15px; /* Adjust to fit the height of both underlines */
  transition: all 0.5s;
}

.double-underline .underline {
  position: relative;
  left: 0;
  width: 100px;
  left: 30px;
  bottom: 5px; /* Adjust the gap between the lines */
  transition: all 0.5s;
}

.double-underline .underlinetwo {
  position: relative;
  width: 50px;
  left: 80px;
  bottom: 0;
}
.projects-projects {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  transition: all 0.5s;
}
.projects-column {
  display: flex;
  flex-direction: row;
  gap: 190px;
  transition: all 0.5s;
}
.projects-item {
  background-color: var(--disc-scroll-color);
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: 350px;
  padding: 20px;
  transition: all 0.5s;
}

.projects-item.trans {
  width: 400px;
  transition: all 0.5s;
}

.projects-item img {
  height: 140px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.projectsTitle {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.projects-item p {
  color: var(--disc-color);
  width: 85%;
  display: none;
  text-align: center;
  transition: all 0.5s;
}
.projects-item p.trans {
  display: block;
  transition: all 0.5s;
}