.services-content {
  background-color: var(--bg-colorthree);
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 270%;
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
.services-title {
  position: absolute;
  top: 50px;
  opacity: 0;
  left: 0;
  width: 146px;
  height: 55px;
  transition: all 0.5s;
}
.services-title.trans {
  opacity: 1;
  left: 10px;
}
.services-title p {
  font-size: 2rem;
}
.underlines,
.underlinetwos {
  height: 5px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 1px;
}

.double-underlines {
  display: inline-block;
  position: relative;
  height: 15px; /* Adjust to fit the height of both underlines */
}

.double-underlines .underlines {
  position: relative;
  left: 0;
  width: 100px;
  right: 46px;
  bottom: 5px; /* Adjust the gap between the lines */
}

.double-underlines .underlinetwos {
  position: relative;
  width: 50px;
  right: 96px;
  left: 0;
  bottom: 0;
}
.services-services {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
}
.service-column {
  display: flex;
  flex-direction: row;
  gap: 190px;
}
.service-item {
  background-color: var(--disc-scroll-color);
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  height: 270px;
  width: 270px;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
}
.service-item img {
  width: 100px;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
}
.service-item h1 {
  position: absolute;
  top: 45%;
  font-size: 1.2rem;
}
.service-item p {
  color: var(--disc-color);
  width: 85%;
  text-align: center;
  position: absolute;
  top: 60%;
}